## Importing data
this is the process of loading and reading data into python from various resources.

there are two important factors important factors to consider while reading data in python

format : is the way data is encoded
various format are: .csv, .json, .xlsx, .hdf etc
file path of dataset: tells us were the data is stored

In [17]:
## reading data with panda
import pandas as pd
url='bitcoin_csv.csv'
df=pd.read_csv(url, header=None)

In [18]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,date,txVolume(USD),adjustedTxVolume(USD),txCount,marketcap(USD),price(USD),exchangeVolume(USD),generatedCoins,fees,activeAddresses,averageDifficulty,paymentCount,medianTxValue(USD),medianFee,blockSize,blockCount
1,2009-01-09,NaN,NaN,0,NaN,NaN,NaN,700.0,0.0,14,1.0,NaN,NaN,NaN,3010,14
2,2009-01-10,NaN,NaN,0,NaN,NaN,NaN,3050.0,0.0,61,1.0,NaN,NaN,NaN,13129,61
3,2009-01-11,NaN,NaN,0,NaN,NaN,NaN,4650.0,0.0,93,1.0,NaN,NaN,NaN,20033,93
4,2009-01-12,NaN,NaN,7,NaN,NaN,NaN,4700.0,0.0,102,1.0,5,NaN,0.0,22031,94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3601,2018-11-18,1976556845.69,1304067008.28,239680,96644682433.0,5559.74,4159680000.0,1537.5,18.03746701,549212,6.65330314141E+12,301260,78.226097774,3.136e-05,117375788,123
3602,2018-11-19,4480410392.5,2620049441.64,267845,97714590429.2,5620.78,7039560000.0,1575.0,39.9694861,674503,6.65330314141E+12,361918,151.5924366,7.594e-05,138689706,126
3603,2018-11-20,5838061759.73,3944651538.96,288318,84565196535.2,4863.93,8428290000.0,1650.0,69.36765011,768696,6.65330314141E+12,423180,260.945272406,0.00011718,158893720,132
3604,2018-11-21,3406310686.41,2220358361.0,254837,77644518698.2,4465.54,6120120000.0,1312.5,49.95016009,628177,6.65330314141E+12,367256,161.67371466,0.00010064,127422353,105
3605,2018-11-22,2759416100.95,1711483518.23,265994,80190706019.8,4611.57,4569370000.0,1525.0,39.13421764,656428,6.65330314141E+12,364559,104.883242295,7.628e-05,148651548,122

note: panda casn also read and save other files than csv
csv file= read.csv()    df.to_csv()
json file= read.json()   df.to_json()
sql file= read.sql()     df.to_sql()
excel file=read.excel()  df.to_excel()

In [21]:
 ##we  can use python to read file without panda
with open('bitcoin_csv.csv','r') as fp:
    print(fp)

<_io.TextIOWrapper name='bitcoin_csv.csv' mode='r' encoding='cp1252'>